# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *


# Hide files of type .png, .zip, .jpg, .gif and .doc from listing
IndexIgnore *.png *.zip *.jpg *.gif *.doc


Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ - [R=404,L]

# ErrorDocument 404 http://localhost/sdoin-dts/404/
ErrorDocument 404 /sdoin-dts/404/
ErrorDocument 403 /sdoin-dts/403/